.demo-login {
  height: 300px;
  width: 400px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  margin: 0 auto;
  padding: 40px;
}
.demo-login > div {
margin-bottom: 30px;
}
.demo-login > div > label {
  display: inline-block;
  width: 80px;
}
.demo-login > div:nth-child(3) {
  height: 28px;
  width: 100px;
  margin: 0 auto;
}
.demo-login > div > button {
  border: 0;
  height: 28px;
  width: 100px;
  border-radius: 5px;
  background-color: #2d8cf0;
  color: white;
}